<link rel="stylesheet" href="/stylesheets/owner/add.css">



<div class="add-movie">
  <form action="/owner/add-screen" method="POST">
      <div class="input-title">
          <p>Add Screen</p>
      </div>
    <div class="input-groups">
      <input required type="text" name="Name" placeholder="Name" id="" />
    </div>
      <label for="" id="screenlabel">Normal</label>
    <div class="input-groups screen">
      <input required type="number" name="normalRows" placeholder="Rows" id="" />
      <input required type="number" name="normalSeats" placeholder="Seat Per Row" id="" />
    </div>
      <label for="" id="screenlabel">Vip</label>
    <div class="input-groups screen">
      <input required type="number" name="vipRows" placeholder="Rows" id="" />
      <input required type="number" name="vipSeats" placeholder="Seat Per Row" id="" />
    </div>
      <label for="" id="screenlabel">Premium</label>
    <div class="input-groups screen">
      <input required type="number" name="premiumRows" placeholder="Rows" id="" />
      <input required type="number" name="premiumSeats" placeholder="Seat Per Row" id="" />
    </div>
      <label for="" id="screenlabel">Excecutive</label>
    <div class="input-groups screen">
      <input required type="number" name="excecutiveRows" placeholder="Rows" id="" />
      <input required type="number" name="excecutiveSeats" placeholder="Seat Per Row" id="" />
    </div>
  
    <div class="input-button">
        <button class="btn btn-mdb-color" type="submit">Submit</button>
    </div>
  </form>
</div>

