<link rel="stylesheet" href="/stylesheets/owner/add.css">

<div class="loader active">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<div class="add-movie">
  <form action="/owner/add-screen" method="POST">
      <div class="input-title">
          <p>Add Screen</p>
      </div>
    <div class="input-groups">
      <input required type="text" name="Name" placeholder="Name" id="" />
    </div>
      <label for="" id="screenlabel">Normal</label>
    <div class="input-groups screen">
      <input required type="number" name="normalRows" placeholder="Rows" id="" />
      <input required type="number" name="normalSeats" placeholder="Seat Per Row" id="" />
    </div>
      <label for="" id="screenlabel">Vip</label>
    <div class="input-groups screen">
      <input required type="number" name="vipRows" placeholder="Rows" id="" />
      <input required type="number" name="vipSeats" placeholder="Seat Per Row" id="" />
    </div>
      <label for="" id="screenlabel">Premium</label>
    <div class="input-groups screen">
      <input required type="number" name="premiumRows" placeholder="Rows" id="" />
      <input required type="number" name="premiumSeats" placeholder="Seat Per Row" id="" />
    </div>
      <label for="" id="screenlabel">Excecutive</label>
    <div class="input-groups screen">
      <input required type="number" name="excecutiveRows" placeholder="Rows" id="" />
      <input required type="number" name="excecutiveSeats" placeholder="Seat Per Row" id="" />
    </div>
  
    <div class="input-button">
        <button class="btn btn-mdb-color" type="submit">Submit</button>
    </div>
  </form>
</div>

<script>
  var loader = document.querySelector('.loader')
  setTimeout(function () {

    loader.classList.remove('active')
  }, 2000)  </script>