<link rel="stylesheet" href="/stylesheets/owner/home.css">


<div class="over-view">
  <div class="over-view-title">
    <p>Dashboard</p>
  </div>
  <div class="boxes-wrapper">
    <div class="box-wrapper">
      <div class="boxes">
        <div class="text">
          <p>Income</p>
          <span>$.200</span>
        </div>
        <div class="progress" style="height: 10px; width: 90%; ">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="boxes">
        <div class="text">
          <p>Movies</p>
          <span>$.200</span>
        </div>

        <div class="progress" style="height: 10px; width: 90%; ">
          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>
    </div>
    <div class="box-wrapper2">

      <div class="boxes">
        <div class="text">
          <p>Upcoming</p>
          <span>$.200</span>
        </div>
        <div class="progress" style="height: 10px; width: 90%; ">

          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>

      <div class="boxes">
        <div class="text">
          <p>Bookings</p>
          <span>$.200</span>
        </div>
        <div class="progress" style="height: 10px; width: 90%; ">

          <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- table -->


<!--table -->
<div class="owner-table">
  <div class="table-title">
    <p>Bookings</p>
    <div class="movie">


    </div>
  </div>
  <table>

    <tr>

      <th class="no">
        No
      </th>
      <th>
        Movie
      </th>
      <th>
        Screen
      </th>
      <th>
        Show
      </th>
      <th>
        Payment 
      </th>
      <th>
        Payment Status
      </th>
      <th>
        Amount
      </th>
    </tr>
    {{#each Bookings}}
    <tr>
      <td id="row">

      </td>
      <td>
      {{!-- {{this.Show.}} --}}
      </td>
      <td>
        20-10-2020
      </td>
      <td>
        2H 20M
      </td>

    </tr>
{{/each}}
  </table>
</div>


<script>
  $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>