<link rel="stylesheet" href="/stylesheets/owner/add.css">

<div class="add-movie">
  <form action="/owner/edit-screen/{{id}}" method="POST">
      <div class="input-title">
          <p>Edit Screen</p>
      </div>
    <div class="input-groups">
      <input required type="text" name="Name" placeholder="Name" id="" value="{{screen.Name}}" />
    </div>
    <div class="input-groups">
      <input required type="number" name="Seat" placeholder="Seat" id=""value="{{screen.Seat}}" />
    </div>
  
    <div class="input-button">
        <button class="btn btn-mdb-color" type="submit">Submit</button>
    </div>
  </form>
</div>