
<style>
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
.btn{
    border-radius: 30px !important;
}
</style>
<div class="card" style="width:500px;height:600px">

    <h5 class="card-header white-text text-center py-4" style="background:#ff7161 ;">
        <strong>Forgot Password</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 " style="margin-top:150px">

        <!-- Form -->
        <form class="md-form" style="color: ##5ca3ff;" method="POST" action="/owner/forgot-password-update-password/{{email}}">

           


            <label for="passwInput">New Password</label>
            <input type="password" id="passwInput" class="form-control" name="Password" placeholder="">


            <button class="btn  btn-rounded btn-block z-depth-0 my-4 waves-effect mt-5" style="background:#ff7161;color:white;" type="submit">Submit</button>

        </form>

    </div>

</div>