<link rel="stylesheet" href="/stylesheets/admin/login.css" />
{{! <!-- ------wrapper----- --> }}

<style>
  #forgot{
    padding-left: 20px;
    color: red;

  }
</style>
<div class="wrapper">
  {{! <!-- ---Login-section--- --> }}
  <div class="login-section">
    {{! <!-- ---Welcome title--- --> }}
    <div class="title">
      <h3>
        Welcome
      </h3>
    </div>
    {{! <!-- ---login input field--- --> }}
    <form action="/owner/login" method="POST">
      <div class="input-group">
        <input type="text" name="username" id=""  />
        <label for="">
          <i class="fa fa-user" aria-hidden="true"></i>
          Username
        </label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id=""  />
        <label for="">
          <i class="fa fa-lock" aria-hidden="true"></i>
          Password
        </label>
      </div>
      {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
          {{messages.error}}!
        </div>
      {{/if}}
      {{#if noOwner}}
        <div class="alert alert-danger" role="alert">
          No Account With This Email.
        </div>
      {{/if}}
<a id="forgot" class="text-primary" data-toggle="modal" data-target="#modalContactForm">Forgot Password ?</a>
      <div class="input-submit" style="margin-top: 20px;">

<a href="/owner/google"  class="loginLink"><i class="fa fa-google" aria-hidden="true">oogle</i>  </a>
        <input type="submit" name="" id="" value="Login" />
      </div>
    </form>
  </div>
</div>
<!-- Button trigger modal -->
 

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
 <form action="/owner/forgot-password" method="POST">
  <!--Modal: Contact form-->
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header mdb-color white-text">
        <h4 class="title">
          Forgot Password</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <!-- Material input name -->
        <div class="md-form form-sm">
          <i class="fa fa-envelope prefix"></i>
          <input type="email" id="materialFormNameModalEx1" name="email" class="form-control form-control-sm">
          <label for="materialFormNameModalEx1">Email</label>
        </div>

       
        <div class="text-center mt-4 mb-2">
          <button class="btn btn-mdb-color">Send
            <i class="fa fa-send ml-2"></i>
          </button>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
  </form>
  <!--/Modal: Contact form-->
</div>
<script>
	var loginWindow;

	window.addEventListener('message', function(e) {
		if (e.data !== 'popup-done') { return; }
window.location.reload()
	});


	document.querySelectorAll('.loginLink').forEach(function(link) {
		link.addEventListener('click', function(e) {
			e.preventDefault();
			var url = link.getAttribute('href');
			var width = 500, height = 370;
			if (url.indexOf('/owner/google') === 0) {
				width = 470; height = 580;
			}
			var w = window.outerWidth - width, h = window.outerHeight - height;
			var left = Math.round(window.screenX + (w / 2));
			var top = Math.round(window.screenY + (h / 2.5));

			loginWindow = window.open(url, 'LogIn', 
				'width='+width+',height='+height+',left='+left+',top='+top+
				',toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0');
		});
	});
</script>