<link rel="stylesheet" href="/stylesheets/admin/login.css">
{{!-- <!-- ------wrapper----- --> --}}
<div class="wrapper">

  {{!-- <!-- ---Login-section--- --> --}}
  <div class="login-section">
    {{!-- <!-- ---Welcome title--- --> --}}
    <div class="title">
      <h3>Welcome</h3>
    </div>
    {{!-- <!-- ---login input field--- --> --}}
    <form action="/owner/login" method="POST">
      <div class="input-group">
        <input type="email" name="username" id="" required />
        <label for=""><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
      </div>
      <div class="input-group">
        <input type="password" name="a_password" id="" required />
        <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Password</label>
      </div>
      {{#if loginErr}}
      <p style="color: red;"><img src="/images/admin/invalid (1).png" alt="" style="width: 20px;"> Invalid
        Username or Password</p>
      {{/if}}
      <div class="input-submit">
        <input type="submit" name="" id="" value="Login" />
      </div>
    </form>
  </div>
</div>