<link rel="stylesheet" href="/stylesheets/owner/home.css">

    <div class="over-view">
        <div class="over-view-title">
            <p>Dashboard</p>
        </div>
        <div class="boxes-wrapper">

        <div class="box-wrapper">

            <div class="boxes">
                <div class="text">
                    <p>Income</p>
                    <span>$.200</span>
                </div>
                <div class="progress" style="height: 10px; width: 90%; ">

                    <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger"
                        role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

                </div>
            </div>

            <div class="boxes">
                <div class="text">
                    <p>Income</p>
                    <span>$.200</span>
                </div>

                <div class="progress" style="height: 10px; width: 90%; ">
                    <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger"
                        role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

                </div>
            </div>
        </div>
        <div class="box-wrapper2">
        
            <div class="boxes">
                <div class="text">
                    <p>Income</p>
                    <span>$.200</span>
                </div>
                <div class="progress" style="height: 10px; width: 90%; ">

                    <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger"
                        role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

                </div>
            </div>

            <div class="boxes">
                <div class="text">
                    <p>Income</p>
                    <span>$.200</span>
                </div>
                <div class="progress" style="height: 10px; width: 90%; ">

                    <div style="background:#ff5e46!important;width: 25%" class="progress-bar bg-danger"
                        role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

                </div>
            </div>
      </div>
      </div>
        </div>
     
            
            <!-- table -->

            
<!--table -->
<div class="owner-table">
  <div class="table-title">
      <p>Screens</p>
      <a href="/owner/add-screen" id="add-btn" onclick="addToggle()" class="btn btn-elegant">Add Screen</a>
  </div>
    <table>
     
      <tr>
        
        <th class="no">
          No
        </th>
        <th>
            Name
        </th>
        <th>
          Seats
        </th>
        <th>
            Schedule    
        </th>
        <th>
          Action
        </th>
      </tr>
        <tr>
<td class="empty" style="width: 100%; ">
  <div id="empty" style="display: flex; align-items: center;">
    <h1 style="font-size: 25px !important; font-weight: 600; color: rgb(116, 116, 116); margin-right: 20px;">Oops, there is no Screen</h1>
    <a href="/owner/add-screen" class="btn btn-mdb-color ">Add Now</a>
  </div>
</td>
        </tr>

    </table>
  </div>



      <!-- ----tables--- -->
        <script>
            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
