<link rel="stylesheet" href="/stylesheets/owner/add.css">


<div class="add-movie">
  <form action="/owner/add-upcoming-movie" method="POST">
      <div class="input-title">
          <p>Add Movie</p>
      </div>
    <div class="input-groups">
      <input required type="text" name="Title" placeholder="Title" id="" />
    </div>
    <div class="input-groups">
      <input required type="text" name="Cast" placeholder="Cast" id="" />
    </div>
    <div class="input-groups">
      <input required type="text" name="Director" placeholder="Director" id="" />
    </div>
            <div class="input-groups">
      <input required type="text" name="Description" placeholder="Description" id="" />
    </div>
            <div class="input-groups">
      <input required type="text" name="Image" placeholder="Wide Image Address" id="" />
    </div>
    <div class="input-groups">
      <label for="">Release Date</label>
      <input required type="date" name="Date" placeholder="Release Date" id="" />
    </div>


    <div class="input-groups">
        <select name="Category" id="">
            <option value="Category">Category</option>
            <option value="Horror">Horror</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Romance">Romance</option>
        </select>
    </div>
    <div class="input-groups">
      <input required type="text" name="Trailer" placeholder="Trailer" id="" />
    </div>
    <div class="input-groups">
<label for="">Runtime</label>
      <input required type="time" name="Runtime" placeholder="Minutes" id="" />
    </div>
    <div class="input-button">
        <button class="btn btn-mdb-color" type="submit">Next</button>
    </div>
  </form>
</div>
