<link rel="stylesheet" href="/stylesheets/owner/update-password.css">

{{!-- loader --}}


<div class="loader active " style="z-index:20;">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<!-- ------wrapper----- -->
<div class="wrapper">
    <!-- ---Login-section--- -->
    <div class="login-section">
        <!-- ---Welcome title--- -->
        <div class="title">
            <h3>Update Password</h3>
        </div>
        <!-- ---login input field--- -->
        <form action="/owner/update-password" method="POST">
            <div class="input-group">
                <input type="email" name="email" id="" required />
                <label for=""><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
            </div>
            <div class="input-group">
                <input type="password" name="oldps" id="" required />
                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Old Password</label>
            </div>
            <div class="input-group">
                <input type="password" name="newps" id="" required />
                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> New Password</label>
            </div>
            {{#if passErr}}
            <p style="color: red;"><img src="/images/admin/invalid (1).png" alt="" style="width: 20px;"> Invalid
                Email or Password</p>
            {{/if}}
            <div class="input-submit">
                <input type="submit"  name="" id="" value="Update" />
            </div>
        </form>
    </div>
</div>  <script>
  var loader = document.querySelector('.loader')
  setTimeout(function () {

    loader.classList.remove('active')
  }, 2000)  </script>