* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  width: 100%;
  background: rgb(44, 44, 44);
}




/* .s-active{
  background: rgb(83, 83, 83);
} */
#row::before {
  counter-increment: section;
  content: counter(section);
}




/* main boxes */

.main-box {
  color: #c3c3c3;
  margin-left: 250px;
  display: flex;
  flex-direction: row;
}
.boxes {
  height: 200px;
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.box {
  background: rgb(36, 36, 36);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 300px;
  height: 100px;
}
.box-wrapper {
  width: 307px;
  display: flex;
  border-radius: 8px;
  justify-content: flex-end;
}
.box-wrapper2 {
  width: 307px;
  display: flex;
  border-radius: 8px;
  justify-content: flex-end;
}
.box-wrapper:nth-child(1) {
  background: rgb(166, 255, 82);
}

.box-wrapper:nth-child(2) {
  background: rgb(255, 92, 92);
}
.box-wrapper2:nth-child(1) {
  background: rgb(87, 255, 247);
}
.box-wrapper2:nth-child(2) {
  background: rgb(240, 255, 101);
}
.box-content {
  justify-content: space-between;
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
}
.box-content span {
  font-family: sans-serif;
  font-size: 19px;
}
.box-content p {
  margin-top: 10px;
  font-size: 23px;
}

@media screen and (max-width: 1750px) {
  .box-wrapper,
  .box-wrapper2 {
    width: 255px;
  }
  .box {
    width: 250px;
  }
}

/*chart*/

.admin-chart {
  margin-top: 30px;
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.chart1 {
  padding: 10px;
  box-shadow: 0px 0px 25px rgb(37, 37, 37);
  border-radius: 6px;
  background: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 720px;
  height: 380px;
}
.chart2 {
  padding: 10px;
  box-shadow: 0px 0px 25px rgb(37, 37, 37);
  border-radius: 6px;
  background: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 720px;
  height: 380px;
}

@media screen and (max-width: 1750px) {
  .chart1 {
    width: 650px;
    height: 380px;
  }
  .chart2 {
    width: 650px;
    height: 380px;
  }
}
@media screen and (max-width: 1579px) {
  .chart1 {
    width: 580px;
    height: 320px;
  }
  .chart2 {
    width: 580px;
    height: 320px;
  }
}

@media screen and (max-width: 1200px) {
  .main-box {
    margin-top: 40px;
    flex-direction: column;
  }
  .boxes {
    width: 100%;
    height: 150px;
  }
  .admin-chart {
    flex-direction: column;
  }
  .chart1 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 594px) {
  .chart1 {
    width: 500px;
    height: 280px;
  }
  .chart2 {
    width: 500px;
    height: 280px;
  }

}

@media screen and (max-width: 530px) {
  .box {
    width: 210px;
    height: 80px;
  }
  .box-wrapper {
    height: 80px;
    width: 216px;
  }

  .box-wrapper2 {
    width: 216px;
    height: 80px;
  }
  .admin-chart {
    padding: 0;
  }
  .chart1 {
    width: 450px;
    height: 250px;
  }
  .chart2 {
    width: 450px;
    height: 250px;
  }
}

@media screen and (max-width: 470px) {
  .boxes {
    align-items: center;
    flex-direction: column;
    height: 200px;
  }
  .boxes11 {
    margin-top: 40px;
  }
  .box-wrapper {
    width: 390px;
  }
  .box-wrapper2 {
    width: 390px;
  }
  .box {
    width: 385px;
  }
  .chart2 {
    width: 380px;
    height: 300px;
  }

  .chart1 {
    width: 380px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .boxes {
    align-items: center;
    flex-direction: column;
    height: 200px;
  }

  .box-wrapper {
    width: 340px;
  }
  .box-wrapper2 {
    width: 340px;
  }
  .box {
    width: 335px;
  }
  .chart2 {
    width: 350px;
    height: 300px;
  }

  .chart1 {
    width: 350px;
    height: 300px;
  }
}

/* ---aadmin table--- */

.admin-table {
  color: #c3c3c3;
  margin-top: 20px;
  counter-reset:section;
  text-align: center;
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-table table {
  border-radius: 7px;
  background: rgb(36, 36, 36);
  width: 93%;
}
.admin-table table tr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.admin-table table th {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.66%;

  padding: 20px;
}
.admin-table td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.66%;

  padding: 20px;
}
.status-a {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 255, 21);
  box-shadow: 0px 0px 10px rgb(0, 255, 21);
  margin-right: 7px;
}
.status-h {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
  margin-right: 7px;
}

td a {
  margin-right: 10px;
}

@media screen and (max-width: 1451px) {
  .main-box {
    width: 100%;
    margin-left: 1px !important;
  }
  .admin-chart {
    margin-left: 0px !important;
  }
  .admin-table {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 714px) {
  .admin-table .e-d {
    width: 15px;
  }

  .admin-table table th {
    font-size: 13px;
  }
  .admin-table td {
    font-size: 13px;
  }

  .admin-table table {
    border-radius: 7px;
    background: rgb(36, 36, 36);
    width: 99% !important;
  }
}

@media screen and (max-width: 598px) {
  .admin-table table {
    width: 99% !important;
  }
  .admin-table td,
  th {
    font-size: 9px;
  }
  .status-a,
  .status-h {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  .admin-table th,
  td {
    padding: 10px;
  }
  #row {
    display: none;
  }
}

