<script src="/javascripts/admin/script.js"></script>
<link rel="stylesheet" href="/stylesheets/admin/add-owner.css">
<div class="add-owner">
  <form action="/admin/add-owner" method="POST" autocomplete="on">
    <div class="title-add-owner">
      <p>Add Owner</p>
    </div>
    <div class="input-group">
      <label for="">Name</label>
      <input type="text" name="Name" placeholder="Name" id="user" required />
    </div>
    <div class="input-group">
      <label for="">Email</label>
      <input type="email" name="Email" placeholder="Email" required />
    </div>
    <div class="input-group">
      <label for="">Password</label>
      <div class="password">
        <input required type="password" name="Password" placeholder="Password" id="password" />
        <button data-toggle="tooltip" title="Genrate Password" onclick="getPassword()" class="fa fa-key"
          type="button"></button>
      </div>
    </div>
    <div class="input-group">
      <label for="">Theater</label>
      <input type="text" name="Theater" placeholder="Theater" required />
    </div>
    <div class="input-group">
      <label for="">Profile</label>
      <img id="image" id="input-image"  src="">

      <input type="file" class="btn btn-dark file" name="Owner-Images" placeholder="Theater" required />
    </div>
    <button type="submit" class="btn btn-light input-submit" style="border-radius: 6px;  height:35px ;">Add</button>
  </form>
</div>
<style>
  #image {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
</style>

<link rel="stylesheet" href="/stylesheets/admin/cropper/cropper.css">
<script src="/javascripts/admin/cropper/cropper.js"></script>
<script>
var image=document.querySelector('#input-image')
var copper;
const change =(event)=>{
}
</script>