<script src="/javascripts/admin/script.js"></script>
<link rel="stylesheet" href="/stylesheets/admin/add-owner.css">
<div class="add-owner">
  <form action="/admin/edit-owner/{{data._id}}" method="POST" enctype="multipart/form-data" autocomplete="on">
    <div class="title-add-owner">
      <p>Edit Owner</p>
    </div>
    <div class="input-group">
      <label for="">Name</label>
      <input type="text" name="Name" value="{{data.Name}}" id="user" required/>
    </div>
    <div class="input-group">
      <label for="">Email</label>
      <input type="email" name="Email"  value="{{data.Email}}" required/>
    </div>
  
    <div class="input-group">
      <label for="">Theater</label>
      <input type="text" name="Theater" value="{{data.Theater}}" required/>
    </div>
        <button type="submit" class="btn btn-light input-submit" style="border-radius: 6px;  height:35px ;">Continue</button>

    </div>
  </form>
</div>
