 <link rel="stylesheet" href="/stylesheets/admin/home.css">
  <!-- ---top-main-section--- -->
  <div class="top-section">
    <div class="top-main">
      <div class="top-main-small">
        <div class="top-text">
          <p>Income</p>
          <span>$200</span>
        </div>
        <div class="top-icon">
          <img src="dollar-sign.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="top-main">
      <div class="top-main-small">
        <div class="top-text">
          <p>Booking</p>
          <span>400</span>
        </div>
        <div class="top-icon">
          <img src="book copy.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="top-main">
      <div class="top-main-small">
        <div class="top-text">
          <p>Movies</p>
          <span>20</span>
        </div>
        <div class="top-icon">
          <img src="film copy.svg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- ----analytics---- -->

  <div class="analytics">
        <div class="bar-chart">
          <p >
            Over View
          </p>
          <canvas id="horizontalBar"></canvas>
        </div>
        <div class="doghnut-chart">
          <p>
            Analytics
          </p>
          <canvas id="doughnutChart" height="230" ></canvas>

        </div>
      </div>

 
    <!-- ----bar chart script---- -->
    <script>
      new Chart(document.getElementById("horizontalBar"), {
        type: "horizontalBar",
        data: {
          labels: [
            "Bookings",
            "Movies",
            "Users",
            "Owners",
            "Theaters",
            "On Hold",
            "Active Theaters",
          ],
          datasets: [
            {
              label: "Movie Cafe",
              data: [22, 33, 55, 12, 86, 23, 14],

              backgroundColor: [
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
                "rgb(93, 178, 248)",
              ],
            },
          ],
        },
        options: {
          scales: {
            xAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    </script>

    <!-- ----doghnit chart script---- -->

    <script>
      //doughnut
      var ctxD = document.getElementById("doughnutChart").getContext("2d");
      var myLineChart = new Chart(ctxD, {
        type: "doughnut",

        data: {
          labels: ["Users", "Owners", "Theaters"], //change the innerRadius here.
          datasets: [
            {
              data: [30, 50, 80],
              backgroundColor: ["#ff8080", "#baff85", "#bfe1ff"],
            },
          ],
        },
        options: {
          responsive: true,
        },
      });
    </script>