<link rel="stylesheet" href="/stylesheets/admin/login.css">
{{!-- <!-- ------wrapper----- --> --}}
<div class="wrapper">

  {{!-- <!-- ---Login-section--- --> --}}
  <div class="login-section">
    {{!-- <!-- ---Welcome title--- --> --}}
    <div class="title">
      <h3>Welcome</h3>
    </div>
    {{!-- <!-- ---login input field--- --> --}}
    <form action="/admin/login" method="POST">
      <div class="input-group">
        <input type="email" name="username" id=""  />
        <label for=""><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id=""  />
        <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Password</label>
      </div>
       {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
          {{messages.error}}!
        </div>
      {{/if}}
      <div class="input-submit">
         <div class="input-submit">
<a href="/admin/google" class=""><i class="fa fa-google" aria-hidden="true">oogle</i>  </a>
        <input type="submit" name="" id="" value="Login" />
      </div>
    </form>
  </div>
</div>