<link rel="stylesheet" href="/stylesheets/admin/login.css">
 {{!-- <!-- ------wrapper----- --> --}}
    <div class="wrapper">

      {{!-- <!-- ---Login-section--- --> --}}
      <div class="login-section">
        {{!-- <!-- ---Welcome title--- --> --}}
        <div class="title">
          <h3>Welcome</h3>
        </div>
        {{!-- <!-- ---login input field--- --> --}}
          <div class="input-group">
            <input type="email" name="adminEmail" id="" required/>
            <label for=""
              ><i class="fa fa-envelope" aria-hidden="true"></i> Email</label
            >
          </div>
          <div class="input-group">
            <input type="password" name="adminPassword" id="" required/>
            <label for=""
              ><i class="fa fa-lock" aria-hidden="true"></i> Password</label
            >
          </div>
        <div class="input-submit">
            <input type="submit" name="" id="" value="Login"/>
          </div>
      </div>
    </div>