<script src="/javascripts/admin/script.js"></script>
<link rel="stylesheet" href="/stylesheets/admin/cropper/cropper.css">

<link rel="stylesheet" href="/stylesheets/admin/add-owner.css">
{{!-- <div class="add-owner">
    <form action="/admin/owner-image-upload" method="POST" enctype="multipart/form-data" autocomplete="on">
        <div class="title-add-owner">
            <p>Add Profile</p>
        </div>

        <div class="input-group">
            <label for="">Profile</label>
            <div class="profile-pic">
                <img id="input-image" alt="" src="">
                <!-- Button trigger modal -->


                <!-- Modal -->
                <div class="mt-5 modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"
                                style="width: 100%; display: flex; align-items: center; justify-content: center;">

                                <div id="cropped-image">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="file" id="image" class="btn btn-dark file" name="Owner-Images" onchange="change(event)"
                placeholder="Theater" />


            <button type="button" class="btn btn-dark" id="crop-btn" data-toggle="modal"
                data-target="#basicExampleModal">Crop</button>
        </div>
        <button type="submit" class="btn btn-light input-submit"
            style="border-radius: 6px;  height:35px ;">Upload</button>
    </form>
</div>
 --}}





<div class="wrapper-edit">
    <!-- ---Login-section--- -->
    <div class="login-section">
        <!-- ---Welcome title--- -->
        <div class="title">
            <h3>Edit Profile</h3>
        </div>
        <!-- ---login input field--- -->
        <div class="input-file">
            <div class="profile-image">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <img src="" style="width: 200px; height: 200px;" id="image" alt="">


            </div>
            <input type="file" name="image" id="file" onchange="change(event)">

        </div>


    </div>
</div>

<button class="btn btn-dark" id="button" type="button">Crop</button>


<div id="result">
    <img src="" style="width: 200px; height: 200px;" alt="">
</div>


<button type="submit" id="upload" >submir</button>


<script>
    var image = document.querySelector('#image')
    var cropper;
    const change = (event) => {
        var files = event.target.files;
        image.src = URL.createObjectURL(files[0])
    }








    function getRoundedCanvas(sourceCanvas) {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var width = sourceCanvas.width;
        var height = sourceCanvas.height;

        canvas.width = width;
        canvas.height = height;
        context.imageSmoothingEnabled = true;
        context.drawImage(sourceCanvas, 0, 0, width, height);
        context.globalCompositeOperation = 'destination-in';
        context.beginPath();
        context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
        context.fill();
        return canvas;
    }
    if (image) {

        image.addEventListener('load', function () {
            var image = document.getElementById('image');
            var button = document.getElementById('button');
            var result = document.getElementById('result');
            var croppable = false;
            var cropper = new Cropper(image, {
                aspectRatio: 1,
                viewMode: 1,
                ready: function () {
                    croppable = true;
                },
            });
                        var upload = document.getElementById('upload');

  upload.onclick = function (){
  console.log('hi')
 cropper.getCroppedCanvas().toBlob(function (blob) {

            var formData = new FormData();
            formData.append('croppedImage', blob);

            $.ajax("/admin/owner-image-upload", {
                
                method: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                         console.log('errrrorrrrr',blob)

                    alert('Upload success');
                    location.reload();
                    console.log('success')
                },
                error: function () {
                    console.log('error')
                    alert('Upload error');
                }
            });
        });
};


            button.onclick = function () {
                var croppedCanvas;
                var roundedCanvas;
                var roundedImage;

                if (!croppable) {
                    return;
                }

                // Crop
                croppedCanvas = cropper.getCroppedCanvas({ height: 300 });

                // Round
                roundedCanvas = getRoundedCanvas(croppedCanvas);

                // Show
                roundedImage = document.createElement('img');
                roundedImage.src = roundedCanvas.toDataURL()
                result.innerHTML = '';
                result.appendChild(roundedImage);
            };
        });
    }




/*        var cropper;
        cropper.getCroppedCanvas().toBlob(function (blob) {
            var formData = new FormData();
            formData.append('croppedImage', blob);

            $.ajax("/admin/owner-image-upload", {
                method: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    alert('Upload success');
                    location.reload();
                },
                error: function () {
                    alert('Upload error');
                }
            });
        });
    
*/

</script>

<script src="/javascripts/admin/cropper/cropper.js"></script>
