  <link rel="stylesheet" href="/stylesheets/admin/theater-details.css">
    <!-- ---top-main-section--- -->
    <div class="top-section">
      <div class="top-main">
        <div class="top-main-small">
          <div class="top-text">
            <p>Theaters</p>
            <span>200</span>
          </div>
          <div class="top-icon">
            <img src="/images/admin/film copy.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="top-main">
        <div class="top-main-small">
          <div class="top-text">
            <p>Active Theaters</p>
            <span>400</span>
          </div>
          <div class="top-icon">
            <img src="/images/admin/film copy.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="top-main">
        <div class="top-main-small">
          <div class="top-text">
            <p>On Hold</p>
            <span>20</span>
          </div>
          <div class="top-icon">
            <img src="/images/admin/film copy.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- ----theater----- -->

    <div class="theater">
      <table>
        <tr>
          <th>Name</th>
          <th>Owner Name</th>
          <th>Seats</th>
          <th>Date Of Create</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>Sivadham Cinemas</td>
          <td>John Doe</td>
          <td>220</td>
          <td>10/2/2020</td>
          <td>
            <a href=""><img src="/images/admin/x.svg" alt="" /></a>
            <a href=""><img src="/images/admin/edit-2.svg" alt="" /></a>
          </td>
        </tr>
        <tr>
          <td>Sivadham Cinemas</td>
          <td>John Doe</td>
          <td>221</td>
          <td>10/2/2020</td>
          <td>
            <a href=""><img src="/images/admin/x.svg" alt="" /></a>
            <a href=""><img src="/images/admin/edit-2.svg" alt="" /></a>
          </td>
        </tr>
      </table>
    </div>