<link rel="stylesheet" href="/stylesheets/admin/update-password.css">

<!-- ------wrapper----- -->
<div class="wrapper">
    <!-- ---Login-section--- -->
    <div class="login-section">
        <!-- ---Welcome title--- -->
        <div class="title">
            <h3>Update Password</h3>
        </div>
        <!-- ---login input field--- -->
        <form action="/admin/update-password" method="POST">
            <div class="input-group">
                <input type="email" name="email" id="" required />
                <label for=""><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
            </div>
            <div class="input-group">
                <input type="password" name="oldps" id="" required />
                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> Old Password</label>
            </div>
            <div class="input-group">
                <input type="password" name="newps" id="" required />
                <label for=""><i class="fa fa-lock" aria-hidden="true"></i> New Password</label>
            </div>
            {{#if passErr}}
            <p style="color: red;"><img src="/images/admin/invalid (1).png" alt="" style="width: 20px;"> Invalid
                Username or Password</p>
            {{/if}}
            <div class="input-submit">
                <input type="submit"  name="" id="" value="Update" />
            </div>
        </form>
    </div>
</div>