   <link rel="stylesheet" href="/stylesheets/admin/update-password.css">
   
    <!-- ------wrapper----- -->
    <div class="wrapper">
      <!-- ---Login-section--- -->
      <div class="login-section">
        <!-- ---Welcome title--- -->
        <div class="title">
          <h3>Change Password</h3>
        </div>
        <!-- ---login input field--- -->
       
        <div class="input-group">
          <input type="password" name="oldps" id="" required />
          <label for=""
            ><i class="fa fa-lock" aria-hidden="true"></i> Old Password</label
          >
        </div>
        <div class="input-group">
          <input type="password" name="newps" id="" required />
          <label for=""
            ><i class="fa fa-lock" aria-hidden="true"></i> New Password</label
          >
        </div>

        <div class="input-submit">
          <input type="submit" name="" id="" value="Update" />
        </div>
      </div>
    </div>
    