  <link rel="stylesheet" href="/stylesheets/admin/user-details.css">
    <!-- ---top-main-section--- -->
    <div class="top-section">
      <div class="top-main">
        <div class="top-main-small">
          <div class="top-text">
            <p>User</p>
            <span>200</span>
          </div>
          <div class="top-icon">
            <img src="/images/admin/film copy.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="top-main">
        <div class="top-main-small">
          <div class="top-text">
            <p>Movies</p>
            <span>400</span>
          </div>
          <div class="top-icon">
            <img src="/images/admin/film copy.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="top-main">
        <div class="top-main-small">
          <div class="top-text">
            <p>Bookings</p>
            <span>20</span>
          </div>
          <div class="top-icon">
            <img src="/images/admin/film copy.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- ----theater----- -->

    <div class="theater">
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date Of Join</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>sooryakriz111@gmail.com</td>
          <td>10/2/2020</td>
          <td>
            <a href=""><img src="/images/admin/x.svg" alt="" /></a>
            <a href=""><img src="/images/admin/edit-2.svg" alt="" /></a>
          </td>
        </tr>

      </table>
    </div>