<link rel="stylesheet" href="/stylesheets/admin/admin-header.css">
<!-- ---navbar--- -->
  <div class="nav-bar">
    <div class="nav-items">
      <a href="#side-bar"><img src="menu (1).svg" alt="" /></a>
      <div class="nav-text">
        <p>Movie Cafe</p>
      </div>
    </div>
  </div>

  <!-- ---side-bar--- -->

  <div id="side-bar">
    <div class="top-side-bar">
      <p>Admin Panel</p>
      <a href="#"><img src="x.svg" alt="" /></a>
    </div>
    <a href="" class="menu-items"><img src="grid.svg" alt="" /> Dashboard</a>
    <a href="" class="menu-items"><img src="users.svg" alt="" /> Owners</a>
    <a href="" class="menu-items"><img src="film.svg" alt="" /> Theaters</a>
    <a href="" class="menu-items"><img src="users.svg" alt="" /> Users</a>
    <a href="" class="menu-items"><img src="book.svg" alt="" /> Bookings</a>
    <a href="" class="menu-items"><img src="user-plus.svg" alt="" /> Add Owners</a>
    <a href="" class="menu-items"><img src="file-plus.svg" alt="" /> Add Theaters</a>
    <div class="menu-item">
      <a href="" id="logout">Logout</a>
    </div>

  </div>
