<link rel="stylesheet" href="/stylesheets/admin/admin-header.css">
<!-- ---navbar--- -->
  <div class="nav-bar">
    <div class="nav-items">
      <a href="#side-bar"><img src="/images/admin/menu (1).svg" alt="" /></a>
      <div class="nav-text">
        <p>Movie Cafe</p>
      </div>
    </div>
  </div>

  <!-- ---side-bar--- -->

  <div id="side-bar">
    <div class="top-side-bar">
      <p>Admin Panel</p>
      <a href="#"><img src="/images/admin/x.svg" alt="" /></a>
    </div>
    <a href="" class="menu-items"><img src="/images/admin/grid.svg" alt="" /> Dashboard</a>
    <a href="" class="menu-items"><img src="/images/admin/users.svg" alt="" /> Owners</a>
    <a href="/admin/theater-details" class="menu-items"><img src="/images/admin/film.svg" alt="" /> Theaters</a>
    <a href="/admin/user-details" class="menu-items"><img src="/images/admin/users.svg" alt="" /> Users</a>
    <a href="" class="menu-items"><img src="/images/admin/book.svg" alt="" /> Bookings</a>
    <a href="" class="menu-items"><img src="/images/admin/user-plus.svg" alt="" /> Add Owners</a>
    <a href="" class="menu-items"><img src="/images/admin/file-plus.svg" alt="" /> Add Theaters</a>
    <div class="menu-item">
      <a href="/admin/logout" id="logout">Logout</a>
    </div>

  </div>
