<link rel="stylesheet" href="/stylesheets/admin/admin-header.css">


<!--nav bar-->
<div class="nav-bar">
  <div class="nav-left">
    <a href="#side-bar">
      <img src="menu (1).svg" alt="" />
    </a>
    <span>Movie Cafe</span>
  </div>
  <div class="nav-right">
    {{#if adminDetails.name}}
    <span onclick="profileToggle()">Hi {{adminDetails.name}}</span>
    {{/if}}
    {{#if ?adminDetails.name}}
    <span onclick="profileToggle()">Hi Admin</span>
    {{/if}}

    <i class="fas fa-chevron-down" onclick="profileToggle()" aria-hidden="true"></i>
  </div>
  <div class="nav-profile-pop-up">
    <div class="nothing"></div>
    <div class="profile-details">
      {{#if adminDetails._id}}
      <img src="/images/admin/profile/{{adminDetails._id}}.jpg" alt="">
      {{/if}}
      {{#if ?adminDetails._id}}
      <img src="/images/admin/profile.svg" alt="" />
      {{/if}}
      <p>Admin</p>
    </div>
    <div class=".n-p-details">
      <ul>
        <li><i class="fa fa-user" aria-hidden="true"></i>Edit Profile</li>
        <li>
          <i class="fa fa-lock" aria-hidden="true"></i>Change Password
        </li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>Inbox</li>
        <a href="/admin/logout">
          <li><i class="fas fa-sign-out-alt"></i>Logout</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<!-- ---sidebar--- -->
<div class="side-bar" id="side-bar">
  <div class="sidebar-top">
    <div class="x">
      <a href="#"> <img src="x.svg" alt="" /> </a>
    </div>
    {{#if adminDetails._id}}
    <img src="/images/admin/profile/{{adminDetails._id}}.jpg" alt="">
    {{/if}}
    {{#if ?adminDetails._id}}
    <img src="/images/admin/profile.svg" alt="" />
    {{/if}}
    <span>Admin</span>
  </div>
  <div class="sidebar-bottom">
    <a href="" class="sidebar-items"><img src="grid.svg" id="s-img" alt="" /> Dashboard</a>
    <a href="" class="sidebar-items"><img src="users.svg" id="s-img" alt="" /> Owner's</a>
    <a href="" class="sidebar-items"><img src="home.svg" id="s-img" alt="" /> Theaters</a>
    <a href="" class="sidebar-items"><img src="users.svg" id="s-img" alt="" /> User's</a>
    <a href="" class="sidebar-items"><img src="file.svg" id="s-img" alt="" /> Bookings</a>
    <a href="" class="sidebar-items"><img src="film.svg" id="s-img" alt="" /> Movies</a>
    <a href="" class="sidebar-items"><img src="user-plus.svg" id="s-img" alt="" /> Add Owner</a>
    <a href="" class="sidebar-items"><img src="edit-2.svg" id="s-img" alt="" /> Edit Profile</a>
    <a href="" class="sidebar-items"><img src="lock.svg" id="s-img" alt="" /> Update Password</a>
  </div>

</div>