  <link rel="stylesheet" href="/stylesheets/admin/admin-footer.css">
    <!-- ---foooter---- -->
  <footer>
    <div class="footer">
      <div class="f-content">
        <h4 style="  color: #c3c3c3;
        ">Movie Cafe</h4>
        <p>Online Movie Ticket<br /> Booking Platform</p>
        <p>Since 2020</p>
      </div>
      <div class="f-content">
        <h5 style="  color: #c3c3c3;
        ">Useful Links</h5>
        <a href="/admin">Dashboard</a>
        <a href="/admin/owner-details">Owners</a>
        <a href="/admin/theater-details">Theaters</a>
        <a href="/admin/user-details">Users</a>
        <a href="">Bookings</a>
      </div>
      <div class="f-content">
        <div class="social">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="social2">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-google" aria-hidden="true"></i>
  
        </div>
  
      </div>
  </footer>