<!-- nav-bar -->
<link rel="stylesheet" href="/stylesheets/user/user-header.css">
    <div class="nav-bar">
        <div class="left-section">
            <a href="" class="logo">Movie Cafe</a>
        </div>
        <div class="right-section">
            <a href="" class="search mask waves-effect waves-light rgba-white-slight"><img src="/images/user/search.svg" alt=""></a>
            <button onclick="profilePopUp()" class="profile"><img src="/images/user/profile.svg" id="profile" alt="">Soorya <img
                    class="down" src="/images/user/chevron-down.svg" alt=""></button>
        </div>
        <div class="profile-pop-up">
            <div class="nothing"></div>
            <a class="mask waves-effect waves-light rgba-white-slight" href="">Home</a>
            <a class="mask waves-effect waves-light rgba-white-slight" href="">Watch Later</a>
            <a class="mask waves-effect waves-light rgba-white-slight" href="">Categories</a>
            <a class="mask waves-effect waves-light rgba-white-slight" href="">Trending</a>
            <a class="mask waves-effect waves-light rgba-white-slight" href="">Upcoming</a>
            <a class="mask waves-effect waves-light rgba-white-slight" href="/logout">Logout</a>
        </div>
    </div>
