<p>Hi {{name}}</p>

<p>Sorry to say that your account for your Theater <span id="movie"
        style="font-weight: bold;font-style: 20px;">{{theater}}</span> in
    <span style="font-size: 12px ; font-weight: bold"> Movie Cafe</span> has been deleted. You can't login to this
    account any more. </p>


<p>Thank You for your service</p>

<p>From</p>

<span id="movie" style="font-weight: bold;">Movie Cafe</span><br>

