<p>Congradulation</p>

<p>Your Theater <span>{{theater}}</span> was added in <span id="movie" style="font-weight: bold;font-style: 20px;">Movie
        Cafe </span>, Online Movie Ticket Booking Platform.</p>

<p>The Username and Password to login to the account is Username : <span class="user-pass"
        style="font-size: 12px ; font-weight: bold"> {{name}}</span> and Password : <span
        style="font-size: 12px ; font-weight: bold" class="user-pass">{{password}}</span>.
</p>

<p>Thank You for being part of us.</p>

<p>With Regards.</p>

<span id="movie" style="font-weight: bold;">Movie Cafe</span><br>

<a href="http://localhost:3000/admin" style="text-decoration: none;"><button style="width: 100px; cursor: pointer; border: none; height: 30px; background-color: rgb(41, 41, 41); color: white; ">Login Now</button></a>