<div class="" style="width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_8qMJfR.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
<p style="font-family: sans-serif;font-size: 25px;color: gray;">Internal Server Error.</p>
<a href="/" class="btn btn-default">Go Home</a>
</div>
