<link rel="stylesheet" href="/stylesheets/user/account.css">
<div class="alerts "
    style="position: fixed; top: 100px; display: flex;align-items: center;justify-content: center;width: 100%;z-index: 100000000;">

</div>
<div class="big-wrapper">

    <div class="user-dash">
        <div class="profile-section">
            <div class="img-section" title="Edit Image">
                <input type="file" name="" id="imageInput" title="Edit Profile Image" onchange="imageUpdate(event)">
                <img id="profile-pic" src="/images/user/profile/{{userDetails._id}}.jpg" onerror="errorInImg()" alt="">
            </div>
            <div class="profile-details">
                <i class="fa fa-user left-icon" aria-hidden="true"></i>
                <input autocomplete="off" type="text" name="name" class="input" placeholder="Name" value="Soorya"
                    disabled>
                <div class="control">
                    <i class="fas fa-check check1 check"></i>
                    <i class="fas fa-pen pen1 pen active"></i>
                </div>
            </div>
            <div class="profile-details">
                <i class="fa fa-mobile-alt left-icon" aria-hidden="true"></i>
                <input autocomplete="off" type="number" name="mobile" class="input" placeholder="Mobile"
                    value="8943713703" disabled>
                <div class="control">
                    <i class="fas fa-check check2 check"></i>
                    <i class="fas fa-pen pen2 pen active"></i>
                </div>
            </div>
            <div class="profile-details">
                <i class="fa fa-envelope left-icon" aria-hidden="true"></i>
                <input autocomplete="off" type="email" name="email" class="input" placeholder="Email"
                    value="sooryakriz111@gmail.com" disabled>
                <div class="control">
                    <i class="fas fa-check check3 check"></i>
                    <i class="fas fa-pen pen3 pen active"></i>
                </div>
            </div>
        </div>
        <div class="referal-section">
            <h4>My Referal</h4>
            <hr>
            <p>Share The Referal Link And Get Credit Up 100 Rs On His / Her First Booking.</p>
            <div class="referal-details">
                <i class="fas fa-link    "></i>
                <input type="text" name="referal"
                    value="https://moviecafe.sooryakriz.com/login?ref={{userDetails.My_Referal}}" readonly class="link"
                    id="">
                <i class="fas fa-copy" title="Copy" class="copy" onclick="copy()"></i>
            </div>
            <div class="copied">
                <p><i class="fas fa-check    "></i> Copied Successfully</p>
            </div>
        </div>
    </div>
    <div class="user-dash">
        <div class="wallet-section">
            <h4>My Wallet</h4>
            <hr>
            <p><span id="wallet"></span>Rs</p>
            <p>Balance.</p>
            <img src="/images/user/clipart2061111.png" alt="">
        </div>
        <div class="analytics-section">
            <div class="analytic">
                <i class="fas fa-clipboard-list    "></i>
                <div class="a-content">
                    <p>Booking</p>
                    <span id="Booking">0</span>
                </div>
            </div>

            <div class="analytic">
                <i class="fas fa-money-bill-wave  " style="color: rgb(255, 128, 128);"></i>
                <div class="a-content">
                    <p>Payments</p>
                    <span style="color: rgb(255, 128, 128);" id="Payments">0</span>
                </div>
            </div>

            <div class="analytic">
                <i class="fas fa-info-circle    " style="color: #aefcff;"></i>
                <div class="a-content">
                    <p>Pendings</p>
                    <span style="color: #aefcff;" id="Pendings">0</span>
                </div>
            </div>

            <div class="analytic">
                <i class="fas fa-coins    " style="color: #fffd80;"></i>
                <div class="a-content">
                    <p>Rewards</p>
                    <span style="color: #fffd80;" id="Rewards">0</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive   "
    style="width: 96%; padding-left: 10px;padding-right: 10px;margin-right: 10px;border-radius: 7px;">
    <table class="table">
        <thead>
            <tr align="center">
                <th>#</th>
                <th scope="col">Movie</th>
                <th scope="col">Theater</th>
                <th scope="col">Screen</th>
                <th scope="col">Show</th>
                <th scope="col">Seats</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="body-table">


        </tbody>
    </table>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>



    const errorInImg = () => {
        document.getElementById('profile-pic').src = '/images/admin/profile.svg'
    }

    const getUserDetails = () => {
        $.ajax({
            url: '/getUserDetails',
            method: 'post',
            success: (response) => {
                document.querySelector('input[name="name"]').value = `${response.Name}`
                document.querySelector('input[name="email"]').value = `${response.Email}`
                document.querySelector('input[name="mobile"]').value = `${response.Mobile}`
                var Wallet = response.Wallet
                if (Wallet === undefined) {
                    document.querySelector('#wallet').innerHTML = `0`

                } else {

                    document.querySelector('#wallet').innerHTML = `${Wallet}`

                }

                var Rewards = response.Rewards
                document.getElementById('Rewards').innerHTML = Rewards.length

            }
        })
    }

    window.addEventListener('load', () => {
        getUserDetails()
    })
    const updateName = (Name) => {
        if (Name.length === 0) {
            getUserDetails()
        }
        else {
            var data = {
                Name: Name
            }
            $.ajax({
                url: '/update-name',
                method: 'post',
                data: data,
                success: () => {

                    getUserDetails()
                }
            })

        }

    }
    const updateMobile = (Mobile) => {
        if (Mobile.length === 0) {
            getUserDetails()
        }
        else {
            var data = {
                Mobile: Mobile
            }
            $.ajax({
                url: '/update-mobile',
                method: 'post',
                data: data,
                success: () => {
                    getUserDetails()
                }
            })
        }
    }
    const updateEmail = (Email) => {

        if (Email.length === 0) {
            getUserDetails()
        }
        else {
            var data = {
                Email: Email
            }
            $.ajax({
                url: '/update-email',
                method: 'post',
                data: data,
                success: (response) => {
                    if (response.Logout === true) {
                        var name = document.querySelector('input[name="name"]').value

                        document.querySelector('.alerts').innerHTML += `<div class="alert  alert-dismissible fade show" role="alert" style="background:#464d75; color:white;box-shadow:0px 0px 20px #222538">
  <strong>Hi ${Name}.</strong> You Have Changed Your Email So Login Again.
<button type="button" class="close" onclick="this.parentNode.remove()" aria-label="Close">
  <span aria-hidden="true">×</span>
</button>
</div>
`


                        getUserDetails()

                        setTimeout(function () {
                            location.href = '/logout'
                        }, 7000)

                    } else {

                        getUserDetails()
                    }
                }
            })

        }
    }

    const imageUpdate = (event) => {

        var image = event.target.files[0]
        var formData = new FormData();
        formData.append('image', image);
        $.ajax("/profile-image", {

            method: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function () {
                location.reload()
            }

        });
    }



    var edit1 = document.querySelector('.pen1')
    var check1 = document.querySelector('.check1')
    var edit2 = document.querySelector('.pen2')
    var check2 = document.querySelector('.check2')
    var edit3 = document.querySelector('.pen3')
    var check3 = document.querySelector('.check3')


    //name function
    edit1.addEventListener('click', () => {
        var name = document.querySelector('input[name="name"]')
        edit1.classList.remove('active')
        name.disabled = false
        check1.classList.toggle('active')
    })



    check1.addEventListener('click', () => {
        var name = document.querySelector('input[name="name"]')
        edit1.classList.toggle('active')
        updateName(name.value)
        name.disabled = true
        check1.classList.remove('active')
    })

    //mobile function
    edit2.addEventListener('click', () => {
        var mobile = document.querySelector('input[name="mobile"]')
        edit2.classList.remove('active')
        mobile.disabled = false
        check2.classList.toggle('active')
    })



    check2.addEventListener('click', () => {
        var mobile = document.querySelector('input[name="mobile"]')
        edit2.classList.toggle('active')
        updateMobile(mobile.value)
        mobile.disabled = true
        check2.classList.remove('active')
    })
    //email function
    edit3.addEventListener('click', () => {
        var mail = document.querySelector('input[name="email"]')
        edit3.classList.remove('active')
        mail.disabled = false
        check3.classList.toggle('active')
    })



    check3.addEventListener('click', () => {
        var mail = document.querySelector('input[name="email"]')
        edit3.classList.toggle('active')
        updateEmail(mail.value)
        mail.disabled = true
        check3.classList.remove('active')
    })


    const copy = () => {
        var link = document.querySelector('input[name="referal"]')
        console.log(link);
        var copied = document.querySelector('.copied')
        /* Select the text field */
        link.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");
        copied.classList.add('active')

    }


    function addBooking() {
        $.ajax({
            url: '/getBookings',
            method: 'post',
            success: (response) => {
                var Pendings = []
                document.getElementById('Booking').innerHTML = response.length
                document.getElementById('Payments').innerHTML = response.length
                document.getElementById('Pendings').innerHTML = Pendings.length
                if (response.length === 0) {
                    var table = document.querySelector('.table').innerHTML = ` <tr> <td style="display:flex;align-items:center;justify-content:center;width:100% !important;font-size:20px;font-weight:600;">Sorry, You Have No Bookings.<td></tr>`

                } else {

                    for (var i = 0; i < response.length; i++) {

                        if (response[i].Payment_Status === 'Paid') {
                            var table = document.getElementById('body-table').innerHTML += ` 
            <tr align="center">
                                <th id="row"></th>
            <td>${response[i].ShowsDetails.MovieName}</td>
            <td>${response[i].Theater.Theater}</td>
            <td>${response[i].Show.screenName}</td>
            <td>${response[i].ShowsDetails.Date} | ${response[i].ShowsDetails.Time} </td>
            <td><button class="show-btn" onclick="showSeat('${response[i]._id}','${response[i].Seat}')">Show</button></td>
            <td>
                <button id="pay" onclick="cancelBooking('${response[i]._id}')">Cancel</button>
            </td>
            <div class="seat-pop-wrapper " id="${response[i]._id}">
                <div class="seat-pop " id="${response[i]._id + response[i]._id}">
                    <p></p>
                </div>
            </div>

        </tr>`

                        } else {
                            Pendings[i] = response[i]
                            var table = document.getElementById('body-table').innerHTML += ` 
                                        <tr align="center">

                                            <th id="row"></th>

            <td>${response[i].ShowsDetails.MovieName}</td>
            <td>${response[i].Theater.Theater}</td>
            <td>${response[i].Show.screenName}</td>
            <td>${response[i].ShowsDetails.Date} | ${response[i].ShowsDetails.Time} </td>
            <td><button class="show-btn" onclick="showSeat('${response[i]._id}','${response[i].Seat}')">Show</button></td>
            <td>
                <button id="pay" onclick="payment('${response[i].Payment}','${response[i]._id}')">Pay Now</button>
            </td>
            <div class="seat-pop-wrapper " id="${response[i]._id}">
                <div class="seat-pop " id="${response[i]._id + response[i]._id}">
                    <p></p>
                </div>
            </div>

        </tr>`

                        }
                    }
                }

            }
        })
    }


    window.addEventListener('load', () => {
        addBooking()
    })


    const cancelBooking = (id) => {
        var Name = '{{userDetails.Name}}'
        $.ajax({
            url: `/cancel-booking/${id
                }`,
            method: 'post',
            success: () => {
                addBooking()
                document.querySelector('.alerts').innerHTML += `<div class="alert  alert-dismissible fade show" role="alert" style="background:#464d75; color:white;box-shadow:0px 0px 20px #222538">
  <strong>Hi ${Name}.</strong> Booking Canceled . Refuned To Your Wallet.
<button type="button" class="close" onclick="this.parentNode.remove()" aria-label="Close">
  <span aria-hidden="true">×</span>
</button>
</div>
`

            }
        })
    }


    const showSeat = (id, array) => {
        var wrapper = document.getElementById(`${id}`)
        var pop = document.getElementById(`${id + id}`).innerHTML = `<p>${array}</p>`
        wrapper.classList.toggle('active')
        wrapper.addEventListener('click', () => {
            wrapper.classList.remove('active')
        })
    }
</script>


<script>
    const payment = (method, id) => {
        $.ajax({
            url: '/another-payment/' + method + '/' + id,
            method: 'post',
            success: (response) => {
                console.log(response)
                if (response.Razorpay === true) {
                    console.log(response, 'response')
                    razorpayPayment(response.order)
                } else if (response.Paypal === true) {
                    location.href = response.payment.links[1].href
                }
            }
        })
    }


    const razorpayPayment = (data) => {
        console.log(data, "data in razorpay");
        var options = {
            key: "rzp_test_kX6azReFALaRXo", // Enter the Key ID generated from the Dashboard
            amount: data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "Movie Cafe",
            description: "Ticket Booking",
            image: "",
            order_id: data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {

                verifyPayment(response, data);
            },
            prefill: {
                name: '',
                email: '',
                contact: '',
            },
            notes: {
                address: "Razorpay Corporate Office",
            },
            theme: {
                color: "#4B6591",
            },
        };
        var rzp1 = new Razorpay(options);
        rzp1.on("payment.failed", function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        setTimeout(function () {
            razorpayUp();
        }, 1000);

        function razorpayUp() {
            rzp1.open();
        }
    };




    function verifyPayment(payment, order) {
        console.log(payment, 'payment');
        console.log(order, 'order');
        $.ajax({
            url: "/verify-payment",
            method: "post",
            data: {
                payment,
                order,
            },
            success: (response) => {
                // bookSuccess();

                if (response.status === true) {


                    location.href = "/booking-success?id=" + order.receipt;
                } else {

                    location.href = "/booking-failure?id=" + order.receipt;
                }
            },
        });
    }


</script>