<style>
    body {
        background: #303449;
    }

    .success-wrapper {
        width: 100%;
        height: 100vh;
        background: #303449;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .success-wrapper img {
        width: 100px;
    }

    .success-wrapper p {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 600;
        color: #cccd;
        font-family: 'poppins', sans-serif;
    }

    .success-wrapper span {
        color: #eb3f3f
    }
    .btns{
        margin-top: 20px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .btns a{
        width: 120px;
        border: none;
        background: #49538f;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white !important;
        box-shadow: 0px 0px 25px #3a4161;
        
    }
    .btns a:nth-child(2){
        border: 3px solid #49538f;
        background: none;
    }
</style>


<div class="success-wrapper">
    <img src="/images/user/x-circle.svg" alt="">
    <p>Booking <span>Success</span></p>
    <div class="btns">
        <a href="/">Home</a>
        <a href="/account">Bookings</a>
    </div>
</div>