<link rel="stylesheet" href="/stylesheets/user/login.css">
<style>
      .alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    box-shadow:
      4px 4px 6px #ccc,
      -4px -4px 6px #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: gray;
    border-radius: 10px;
  }
</style>
<div class="login-wrapper">
    
    <div class="left-section">
        <img src="/images/user/login-image.svg" alt="">
    </div>
    <div class="right-section">

        <form action="/login" autocomplete="off" method="POST">
            <div class="title">
                <p>Welcome</p>
            </div>
            <div class="input">
                <div class="input-groups">
                    <input required class="Box productkey1" type="text"  id="one" name="one" placeholder="M" maxlength="1"
                         id="">
                    <input required class="Box productkey1" type="text" id="two" name="two" placeholder="O" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="three" name="three" placeholder="B" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="four" name="four" placeholder="I" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="five" name="five" placeholder="L" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="six" name="six" placeholder="E" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="seven" name="seven" placeholder="" maxlength="1"
                    >
                    <input required class="Box productkey1" type="text" id="eight" name="eight" placeholder="N" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="nine" name="nine" placeholder="0" maxlength="1"
                        >
                    <input required class="Box productkey1" type="text" id="ten" name="ten" placeholder=":" maxlength="1">
                </div>
               
                <div class="input-submit">
                    <button class="mask waves-effect waves-light rgba-white-slight" id="login">Next</button>
                </div>
            </div>
            <div class="social">
                <a href="/google" class="loginLink"><img src="/images/user/google.svg" alt=""></a>
                <a href=""><img src="/images/user/twitter.svg" alt=""></a>
                <a href="/facebook" class="loginLinkFacebook"><img src="/images/user/facebook.svg" alt=""></a>







            </div>
        </form>
    </div>
</div>
{{!-- <script>
    const clickEvent = (first, last) => {
        if (first.value.length) {
            document.getElementById(last).focus()
        }
    }
</script> --}}

<script>
    $(document).ready(function() {
  $('.Box').on("keyup", function(e) {
      var $input = $(this);
      if ($input.val().length == 0 && e.which == 8) {
        $input.toggleClass("productkey2 productkey1").prev('.Box').focus();
      }
      else if ($input.val().length >= parseInt($input.attr("maxlength"), 10)) {
        $input.toggleClass("productkey1 productkey2").next('.Box').focus();
      }
  });
});
</script>
<script>
    var loginWindow;

    window.addEventListener('message', function (e) {
        if (e.data !== 'popup-done') { return; }
        window.location.reload()
    });


    document.querySelectorAll('.loginLink').forEach(function (link) {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            var url = link.getAttribute('href');
            var width = 500, height = 370;
            if (url.indexOf('/google') === 0) {
                width = 470; height = 580;
            }
            var w = window.outerWidth - width, h = window.outerHeight - height;
            var left = Math.round(window.screenX + (w / 2));
            var top = Math.round(window.screenY + (h / 2.5));

            loginWindow = window.open(url, 'LogIn',
                'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top +
                ',toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0');
        });
    });
    </script>
<script>
    var loginWindow;

    window.addEventListener('message', function (e) {
        if (e.data !== 'popup-done') { return; }
        window.location.reload()
    });


    document.querySelectorAll('.loginLinkFacebook').forEach(function (link) {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            var url = link.getAttribute('href');
            var width = 500, height = 370;
            if (url.indexOf('/facebook') === 0) {
                width = 470; height = 580;
            }
            var w = window.outerWidth - width, h = window.outerHeight - height;
            var left = Math.round(window.screenX + (w / 2));
            var top = Math.round(window.screenY + (h / 2.5));

            loginWindow = window.open(url, 'LogIn',
                'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top +
                ',toolbar=0,scrollbars=0,status=0,resizable=0,location=0,menuBar=0');
        });
    });
</script>
