<link rel="stylesheet" href="/stylesheets/user/search.css">
<main>
    <div class="search-search-wrapper">
        <div class="search-search-container">
            <img src="/images/user/search (1).svg" alt="">
            <input type="search" name="search" id="search" placeholder="Search..." onchange="getMovie(value)">
        </div>
    </div>
</main>



{{!-- data:searchKey, --}}


<div class="container-fluid">
    <div class="row">

    </div>
</div>







<script>
    const getAllMovies = () => {
        document.querySelector('.row').innerHTML = ""

        $.ajax({
            url: '/getAllMovies',
            method: 'post',
            success: (Movies) => {
                Movies.forEach(element => {
                    document.querySelector('.row').innerHTML += `  <div class="col-12 col-sm-6 col-md-4 col-lg-3 "
            style="padding: 0; display: flex; align-items: center; justify-content: space-around;">
            <a href="/movie/${element._id}">
            <div class="products" data-aos="fade-up" data-aos-duration="1800">
                <div class="p-img">
                    <img src="/images/owner/movie/${element._id}.jpg" alt="">
                </div>
            </div>
            </a>
        </div>`
                })

            }
        })
    }




    window.addEventListener('load', () => {
        getAllMovies()
    })
    var SearchInput = document.getElementById('search')
    if (SearchInput.value.length === 0) {
        getAllMovies()
    }
    const getMovie = (searchKey) => {
        document.querySelector('.row').innerHTML = ""
        if (SearchInput.value.length === 0) {
            getAllMovies()
        } else if (SearchInput.value.length > 1) {


            document.querySelector('.row').innerHTML = ""


            $.ajax({
                url: `/MovieSearch/${searchKey}`,
                method: 'post',
                success: (response) => {

                    response.forEach(element => {
                        document.querySelector('.row').innerHTML += `  <div class="col-12 col-sm-6 col-md-4 col-lg-3 "
            style="padding: 0; display: flex; align-items: center; justify-content: space-around;">
            <a href="/movie/${element.item._id}">
            <div class="products" data-aos="fade-up" data-aos-duration="1800">
                <div class="p-img">
                    <img src="/images/owner/movie/${element.item._id}.jpg" alt="">
                </div>
            </div>
            </a>
        </div>`
                    })



                }

            })


        }

    }    
</script>