<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>



<link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />

<link rel="stylesheet" href="/stylesheets/user/login.css">
<div class="alerts">

</div>
<div class="login-wrapper">

    <div class="left-section">
        <img src="/images/user/login-image.svg" alt="">
    </div>
    <div class="right-section">

        <div class="form">
            <div class="title">
                <p>Welcome</p>
            </div>
            <div class="input">
                <div class="input-signup">
                    <!-- Material input -->
                    <div class="md-form">
                        <input type="text" id="Name" class="form-control ">
                        <label for="Name">Name</label>
                    </div>

                    <!-- Material input -->
                    <div class="md-form">
                        <input type="email" id="Email" class="form-control " autocomplete="email">
                        <label for="Email">Email</label>
                    </div>
                    <input type="text" name="Latitude" placeholder="Email" id="Latitude" class="signupInput" hidden>
                    <input type="text" name="Longitude" placeholder="Email" id="Longitude" class="signupInput" hidden>
                    <input type="text" name="mobile" placeholder="mobile" id="Mobile" value="{{mobile}}"
                        class="signupInput" hidden>
                </div>

                <div class="input-submit btn-s-h">
                    <button class="mask waves-effect btn btn-light-blue waves-light rgba-white-slight"
                        style="width: 300px; font-size: 15px; display: flex;border-radius: 0px; height: 45px; align-items: center;justify-content: center;"
                        id="" class="" onclick="validationForm()">Continue</button>
                </div>
            </div>

        </div>
    </div>
</div>






<div class="location-wrapper">
    <div class="map-wrapper">

        <div id="map">

        </div>

        <div class="map-btn">
            <button class="mask waves-effect waves-light rgba-white-slight" onclick="cancelLocation()">Cancel</button>
            <button class="mask waves-effect waves-light rgba-white-slight" onclick="signup()">Signup</button>
        </div>
    </div>

</div>



<script>

    var locationWrapper = document.querySelector('.location-wrapper')
    const displayLocation = () => {
        locationWrapper.classList.toggle('active')
    }


    const cancelLocation = () => {
        locationWrapper.classList.remove('active')
    }


    const validationForm = () => {
        var Name = document.getElementById('Name').value
        var Email = document.getElementById('Email').value
        var alerts = document.querySelector('.alerts')

        if (Name.length === 0 && Email.length === 0 || Name.length === 0 || Email.length === 0 || !Email.includes('@')) {

            alerts.innerHTML = `                <div class="alert alert-danger" id="alert" role="alert">
                    Please Fill The Form
                </div>`
        } else {
            displayLocation()
        }
    }


    mapboxgl.accessToken = 'pk.eyJ1Ijoic29vcnlhLWtyaXoiLCJhIjoiY2tqYTcydDN1NWc1bTJ5bjRuYXF3eHdpayJ9.mo48bziP80gkbrXL-1kETw';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-74.5, 40], // starting position
        zoom: 9 // starting zoom
    });

    map.on('click', function (e) {


        var svgMarker = document.querySelector('svg')
        console.log(svgMarker)
        if (svgMarker) {
            svgMarker.remove()
            var marker = new mapboxgl.Marker()
                .setLngLat([e.lngLat.lng, e.lngLat.lat])
                .addTo(map);
        } else {
            var marker = new mapboxgl.Marker()
                .setLngLat([e.lngLat.lng, e.lngLat.lat])
                .addTo(map)
        }

        var latitude = document.getElementById('Latitude').value = e.lngLat.lat
        var longitude = document.getElementById('Longitude').value = e.lngLat.lng
    });

    map.addControl(
        new MapboxGeocoder({

            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            marker: false
        })


    );









    //get inputs value on submit 


    const signup = () => {


        var email = document.getElementById('Email').value
        var name = document.getElementById('Name').value
        var latitude = document.getElementById('Latitude').value
        var longitude = document.getElementById('Longitude').value
        var mobile = document.getElementById('Mobile').value


        var Details = {
            Name: name,
            Email: email,
            Latitude: latitude,
            Longitude: longitude
        }


        $.ajax({
            url: '/signup/' + mobile,
            method: 'post',
            data: Details,
            success: () => {
                location.href = '/'
            }
        })
    }
</script>