.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-wrapper .left-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .left-section img {
  width: 600px;
}

.login-wrapper .right-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .right-section form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-wrapper .right-section .form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-section .title {
  width: 100%;
  height: 150px;
  font-size: 40px;
  font-weight: 400;
  color: rgb(134, 137, 168);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: 400px;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input .input-groups {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.input-groups input {
  transition: 0.5 ease-in-out;
  font-size: 20px;
  color: rgb(116, 170, 252);
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border: none;
  border-bottom: 4px solid rgba(31, 147, 255, 0.151);
}
.input-signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-signup input {
  margin-top: 20px;
  height: 40px;
  padding-left: 10px;
  color: rgba(0, 132, 255, 0.801);
  background: rgba(236, 236, 236, 0.301);
  border-radius: 5px;
  border: none;

  width: 300px;
}
.input-signup input:focus {
  outline: none;
}
.input-groups input:focus {
  border-bottom: 4px solid rgba(0, 132, 255, 0.582) !important;

  outline: none;
}

button:focus {
  outline: none !important;
}

::placeholder {
  margin-left: 10px;
  color: rgba(116, 170, 252, 0.562);
}
.input-submit {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-s-h button {
  color: white;
  height: 38px;

  border: none;
}
.input-submit button {
  color: white;
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background: rgb(34, 137, 255);
}
.social {
  height: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 5px;
  height: 50px;
  background: #ffff;
  box-shadow: 0px 0px 20px rgba(5, 71, 133, 0.116);
}

@media screen and (max-width: 1051px) {
  .left-section {
    display: none !important;
  }
  .input-groups {
    width: 360px !important;
  }
  .input-groups input {
    width: 28px;
  }
}

@media screen and (max-width: 417px) {
  .input-groups input {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 21px;
  }
}

.signupInput {
  caret-color: #909090 !important;
  color: #909090 !important;
  background: rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 15px rgba(204, 204, 204, 0.61);
}

.signupInput::placeholder {
  color: #909090;
}

.location-wrapper {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  transition:opacity .5s ease-in-out;
  position: fixed;
  top: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.288);
  justify-content: center;
}
.location-wrapper.active{
  visibility: visible;
  opacity: 1;
}
.map-wrapper {
  width: 600px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #fff;
}
#map {
  margin-top: 30px;
  width: 90%;
  height: 80%;
  border: none;
  outline: none;
}

.map-btn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.map-btn button {
  width: 120px;
  color: white;
  border: 2px solid #5390df;
  height: 45px;
  outline: none;
  margin-right: 20px;
  color: #5390df;
}

.map-btn button:nth-child(2) {
  color: white;
  background: #5390df;
}
