* {
  margin: 0;
  bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-wrapper .left-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .left-section img {
  width: 600px;
}

.login-wrapper .right-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .right-section form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-wrapper .right-section .form {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-section .title {
  width: 100%;
  height: 150px;
  font-size: 40px;
  font-weight: 400;
  color: rgb(134, 137, 168);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  width: 400px;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input .input-groups {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.input-groups input {
  transition: 0.5 ease-in-out;
  font-size: 20px;
  color: rgb(116, 170, 252);
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border: none;
  border-bottom: 4px solid rgba(31, 147, 255, 0.151);
}
.input-signup{
  width: 100%;
  display: flex;
  align-items: center;justify-content: center;
  flex-direction: column;
}
.input-signup input{
  margin-top: 20px;
  height: 40px;  padding-left: 10px;
color:  rgba(0, 132, 255, 0.801);
  background: rgba(236, 236, 236, 0.301);
  border-radius: 5px;
  border: none;

  width: 300px;
}
.input-signup input:focus{
  outline: none;
}
.input-groups input:focus {
    border-bottom: 4px solid rgba(0, 132, 255, 0.582) !important;

  outline: none;
}

button:focus {
  outline: none !important;
}

::placeholder {
  margin-left: 10px;
  color: rgba(116, 170, 252, 0.562);
}
.input-submit {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-s-h button{
  color: white;
  height: 38px;

  border: none; 

}
.input-submit button {
  color: white;
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: none; 
  background: rgb(34, 137, 255);
}
.social {
  height: 100px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 5px;
  height: 50px;
  background: #ffff;
  box-shadow: 0px 0px 20px rgba(5, 71, 133, 0.116);
}

@media screen and (max-width: 1051px) {
  .left-section {
    display: none !important;
  }
  .input-groups {
    width: 360px !important;
  }
  .input-groups input {
    width: 28px;
  }
}


@media screen and (max-width: 417px) {

  .input-groups input {
display: flex;
;
padding: 0;
align-items: center;justify-content: center;
    width: 21px;
  }

}



.signupInput{
  caret-color: #909090 !important;
  color: #909090 !important;
  background: rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 15px rgba(204, 204, 204, 0.61);
}


.signupInput::placeholder{
  color: #909090;
}

.location-wrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map{
  width: 90%;
  position: absolute;
  height: 90%;
}
/* 
#map button{
  z-index: 10;
  position: absolute;
  bottom: 20px;
  right: 10px;
} */