* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  width: 100%;
  background: rgb(255, 255, 255) !important;
  min-height: 100vh !important;
}



/* ---over view--- */

.over-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  height: 200px;
  margin-top: 60px;
  margin-left: 250px;
}
.over-view .over-view-title {
  /* padding: 25px; */
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  height: 30px;
  font-size: 20px;
}
.over-view .boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin-top: 10px;
  height: 110px;
  box-shadow: 0px 0px 20px rgba(231, 231, 231, 0.8);
}
.boxes-wrapper {
  width: 100%;
  display: flex;
}
.box-wrapper {
  height: 1005;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-wrapper2 {
  height: 1005;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.box-wrapper .boxes .text {
  padding: 20px;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-wrapper2 .boxes .text {
  padding: 20px;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {
  margin-bottom: 10px;
}

/* --- chart---- */

.chart-owner {
  position: relative;
  margin-top: 40px;
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.chart-owner .line-chart {
  z-index: -10;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 720px;
  height: 450px;
  box-shadow: 0px 0px 20px rgba(230, 230, 230, 0.867);
}
.chart-owner .horizonatal-chart {
  flex-direction: column;
  z-index: -10;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 720px;
  box-shadow: 0px 0px 20px rgba(230, 230, 230, 0.867);
  height: 450px;
}
.chart-heading {
  height: 50px;
  width: 90%;
  border-bottom: 0.5px solid rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 500;
}

/* responsive  */

@media screen and (max-width: 1750px) {
  .over-view .boxes {
    width: 300px;

    height: 110px;
  }
  .chart-owner .line-chart {
    width: 600px;
    height: 450px;
  }
  .chart-owner .horizonatal-chart {
    width: 600px;
    height: 450px;
  }
}

@media screen and (max-width: 1526px) {
  .over-view {
    margin-left: 0px;
  }
  .chart-owner {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 1252px) {
  .over-view {
    padding-top: 20px;
    height: 300px;
  }
  .boxes-wrapper {
    flex-direction: column;
  }
  .box-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .box-wrapper2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .chart-owner {
    flex-direction: column;
  }
  .line-chart {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 646px) {
  .over-view {
    height: 600px;
  }
  .over-view .boxes {
    width: 350px;
margin-bottom: 10px;
    height: 110px;
  }
  .chart-owner .line-chart {
    width: 500px;
    height: 450px;
  }
  .chart-owner .horizonatal-chart {
    width: 500px;
    height: 450px;
  }

  .box-wrapper{
    flex-direction: column;
  }

  .box-wrapper2{
    flex-direction: column;
  }
}

@media screen and (max-width: 516px) {

  .chart-owner .line-chart {
    width: 400px;
    height: 450px;
  }
  .chart-owner .horizonatal-chart {
    width: 400px;
    height: 450px;
  }


}
@media screen and (max-width: 424px) {

  .chart-owner .line-chart {
    width: 350px;
    height: 450px;
  }
  .chart-owner .horizonatal-chart {
    width: 350px;
    height: 450px;
  }


}
/* table */


/* ---aadmin table--- */
.owner-table {
  color: #a0a0a0;
  margin-top: 30px;
  counter-reset:section;
  text-align: center;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-title{
height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
  justify-content: flex-start;
font-size: 20px;
color: #3f3d3d;
}
.owner-table table {

  border-radius: 7px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgb(236, 236, 236);
  width: 93%;
}
.owner-table table tr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.owner-table table th {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.66%;

  padding: 20px;
}
.owner-table td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.66%;

  padding: 20px;
}
.status-a {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 255, 21);
  box-shadow: 0px 0px 10px rgb(200, 255, 205);
  margin-right: 7px;
}
.status-h {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 194, 194);
  margin-right: 7px;
}

td a {
  margin-right: 10px;
}

@media screen and (max-width: 1451px) {
  .main-box {
    width: 100%;
    margin-left: 1px !important;
  }
  .admin-chart {
    margin-left: 0px !important;
  }
  .owner-table {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 714px) {
  .owner-table .e-d {
    width: 15px;
  }

  .owner-table table th {
    font-size: 13px;
  }
  .owner-table td {
    font-size: 13px;
  }

  .owner-table table {
    border-radius: 7px;
    background: rgb(255, 255, 255);
    width: 99% !important;
  }
  .table-title{
    padding-left: 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 598px) {
  .owner-table table {
    width: 99% !important;
  }
  .owner-table td,
  th {
    font-size: 9px;
  }
  .status-a,
  .status-h {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  .owner-table th,
  td {
    padding: 10px;
  }
  #row {
    display: none;
  }
  .no{
    display: none !important;
  }
}




