
.nav-bar {
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0px 20px rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  font-size: 20px;
  padding-left: 30px;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-logo .menu {
  margin-right: 10px;
  /* display: none; */
  width: 50px;
  /* background: #000; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu img:nth-child(1) {
  display: none;
}
.menu img:nth-child(2) {
  display: none;
}

.nav-items {
  font-size: 15px;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 100px;
  justify-content: flex-end;
}
.nav-items span {
  cursor: pointer;

  margin-right: 10px;
}
.nav-items i {
  cursor: pointer;

  font-size: 10px;
}




.nav-profile-pop-up {
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 70px;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(231, 231, 231, 0.867);
  width: 230px;
  height: 340px;
  transition: 0.4s ease-in-out;
}
.profile-details {
  margin-bottom: 10px;
  font-size: 18px;
  color: #707070;
  width: 60%;
  border-bottom: 1px solid rgb(211, 211, 211);
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-details img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.nothing {
  color: #707070;
  transform: rotate(45deg);
  left: 50px;
  top: -9px;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
}
li {
  cursor: pointer;
  width: 100%;
  height: 30px;
  color: #707070;
  list-style: none;
}
li:hover i {
  color: rgb(110, 110, 110);
}
li:hover {
  color: rgb(80, 80, 80);
}
.-p-details {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
li i {
  color: #707070;
  margin-right: 10px;
}
ul {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 20px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

body .profile-active {
  visibility: visible;
  opacity: 1;
  top: 60px !important;
}

@media screen and (max-width: 1100px) {
  .nav-logo {
    width: 70%;
    padding-left: 30px;
  }
  .nav-items {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
.nav-items {
  padding-right: 10px;
}

.nav-profile-pop-up {

  right: 10px;
  top: 100px !important;

}
}
/* ---sidebar--- */

.side-bar {
  background: white !important;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  box-shadow: 0px 0px 20px rgb(243, 243, 243);
}
.side-bar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  background: rgb(255, 255, 255);
}
.side-bar-top p {
  margin-top: 10px;
}
.side-bar-top img {
  margin-top: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.side-bar-top span {
  font-weight: 500;
}

.side-bar-bottom {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.side-bar-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  background: #ffff;
  margin: 10px;
  border-radius: 5px;
  /* box-shadow: 0px 0px 20px #cccd; */
}
.side-bar-items:hover {
  background: #ffff;
  box-shadow: 0px 0px 20px rgb(240, 240, 240);
}
.side-bar-items i {
  margin-left: 50px;
  margin-right: 10px;
  font-size: 23px;
  color: rgb(177, 177, 177);
}
.side-bar-items {
  color: gray !important;
}

 .side-bar .active,
 .side-bar .active i {

  box-shadow: 0px 0px 20px rgb(240, 240, 240);

  color: rgb(230, 111, 111) !important;
}


/* sidebar responsive */

@media screen and (max-width: 1526px) {
  .side-bar {
    transition: 0.5s ease-in-out;
    transform: translate(-100%);
  }
  .menu img:nth-child(2) {
    display: flex;
    cursor: pointer;
  }
}

.side-bar-active {
  background: #fff;
  transform: translate(0%);
  left: 0;
}

.bar-active {
  display: none !important;
}
.times-active {
  display: flex !important;
}

@media screen and (max-height:784px){

  .side-bar-items{
    height: 40px !important;
  }
  
}
@media screen and (max-height:704px){
  .side-bar-top img{
    display: none;
    /* margin-top: 60px; */
  }
  .side-bar-top{
    height:10%;
    
  }
  .side-bar{
    padding-top: 90px;
  }
  .side-bar-bottom{
    height: 100%;
    
  }
  
}


.loader {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.2s ease-in-out;
  background: #ffffff;
}
.loader.active {
  visibility: visible;
  opacity: 1;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(243, 89, 89);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}


.notification-wrapper{
  visibility: hidden;
  opacity: 0;
  transition: .4s ease-in-out;

  z-index: 100000000000000000;
  position: fixed;
  top: 100px;
  right: 10px;
}



.notification{
  margin-bottom: 50px;
  width: 400px;
  transition: .4s ease-in-out;
  height: 100px;
  background: #fff;
  box-shadow: 0px 0px 20px #cccd;
}
.notification-wrapper.active{
  visibility: visible;
  opacity: 1;
}

.notification-wrapper.active .notification{
  margin-bottom: 0 !important;
}
.notification i{
  position: absolute;right: 10px;
  top: 10px;
  cursor: pointer;
}
.notification .notification-nothing{
  position: absolute;
  left: 35px;
  top: -10px;
  background: #fff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.notification p{
  position: absolute;
  top: 30px;
  font-size: 16px;
  font-family: 'poppins',sans-serif;
  left: 20px;
}

.notification span{
  font-weight: 600;
}
.notification p img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}